<!DOCTYPE html>
<html>
	<head>
		<title>Flow Client</title>
		
		<script type='application/javascript' src="/static/js/jquery.min.js"></script>
		<script type='application/javascript' src="/static/js/jquery.md5.js"></script>
		
		<script type='application/javascript' src="/static/js/Utils.js"></script>
		<script type='application/javascript' src="/static/js/FlowCore.js"></script>
		
		<script type="text/javascript">			
			var flowConnector = undefined;
      		
      		openHandler = function(msgObj){
      			alert("here");
      		    window.open(msgObj.get_body(),'_newtab');
      		}
      
	        $(document).ready(function() {	
		    	flowConnector = new Flow("1", "127.0.0.1:9000");
					
					
				flowConnector.connect(function(){
				});

				
	        });
	        
	        test = function(){

	        	//flowConnector.addHandler("OPEN", openHandler);
	        	//alert("here");
	        	//printer.text("http://www.google.co.uk");
	        }
		</script>

	</head>	
	<body>

	</body>
</html>