<html lang="en"><head>
    <meta charset="utf-8">
    <title>Flow - Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


	<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" type="text/css" charset="utf-8"/>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" charset="utf-8"/>

   	<script type='application/javascript' src="/static/js/jquery.min.js"></script>
	<script type='application/javascript' src="/static/js/jquery.md5.js"></script>
	
	<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Flow</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="admin">Home</a></li>
              <li><a href="objects">Objects</a></li>
              <li><a href="about">About</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Flow Admin</h1>
      <p>Something interesting should go here</p>


    </div>
</body></html>