<!DOCTYPE html>
<html>
	<head>
		<title>Flow Client</title>
		
		<script type='application/javascript' src="/static/js/jquery.min.js"></script>
		<script type='application/javascript' src="/static/js/jquery.md5.js"></script>
		
		<script type='application/javascript' src="/static/js/Utils.js"></script>
		<script type='application/javascript' src="/static/js/FlowCore.js"></script>
		
		<script type="text/javascript">			
			var flowConnector = undefined;
      		
      		openHandler = function(msgObj){
      		    window.open(msgObj.get_body(),'_newtab');
      		}
      
	        $(document).ready(function() {	
	        	//108.59.3.115
		    	flowConnector = new Flow("1", "108.59.3.115:19708");
					
				flowConnector.connect(function(){
				});
				
	        });
		</script>

	</head>	
	<body>

	</body>
</html>